/* global style */
.body {
  font-family: 'Roboto', sans-serif;
}
.logo {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(32 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}
.web {
  color: black;
}
.butoon {
  cursor: pointer;
}

/* HW-01 */

/* header */

.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: black;
}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;

}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;

}
.hover-tup:hover,
:focus {
  color: #2196f3;
}

/* main */

.main {
  background-color: #2f303a;
}
.main-section {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
}

/* hero */

.hero-link {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-link-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

/* work */

.work-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* team */

.team-line {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.team-link-list {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

/* address */

.address {
  background-color: #2f303a;
}
.address-link-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* HW-02  */

.header-lynk {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.list-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

/* navigation */

.navigation-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.navigation-link {
  background: #f5f4fa;
  border-radius: 4px;
}

/* project */

.project-text {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.project-text-link {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

/* address */
.adres {
  background-color: #2f303a;
}
.adres-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adres-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
