.body{
  font-family: 'Roboto';
}
.header {
  /* top line bg */

  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}
.webstudio {
  /* WebStudio */

  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.студія {
  /* Студія */

  position: absolute;
  width: 45px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.портфоліо {
  /* Портфоліо */

  position: absolute;
  width: 72px;
  height: 16px;
  left: 548px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.контакти {
  /* Контакти */

  position: absolute;
  width: 64px;
  height: 16px;
  left: 670px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
/* info@devstudio.com */
.сайт {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.телефон {
  /* +38 096 111 11 11 */

  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.кнопка1 {
  /* Rectangle 10 */

  position: absolute;
  width: 73px;
  height: 38px;
  left: 512px;
  top: 174px;

  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.кнопка2 {
  /* Rectangle 10 */

  position: absolute;
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
}
.кнопка3 {
  position: absolute;
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
}
.кнопка4 {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 846px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
}
.кнопка5 {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
}
/* Footer bg */
.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;

  background: #2f303a;
}
/*foto*/
.foto1{
box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.foto2{
  box-sizing: border-box;
  
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;
  
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.foto3{
  box-sizing: border-box;
  
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 262px;
  
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.foto4{box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;}
.foto5{box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;}
.foto6{box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;}
.foto7{box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;}
.foto8{box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;}
.foto9{box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;}
  .адресса{
    position: absolute;
      width: 231px;
      height: 21px;
      left: 215px;
      top: 1739px;
    
      
    
      color: #FFFFFF;
  }
  .сайт2{
    position: absolute;
      width: 231px;
      height: 21px;
      left: 215px;
      top: 1769px;
    
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */
    
      letter-spacing: 0.03em;
    
      color: rgba(255, 255, 255, 0.6);
  }
  .телефон2{
    position: absolute;
      width: 231px;
      height: 21px;
      left: 215px;
      top: 1799px;
    
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */
    
      letter-spacing: 0.03em;
    
      color: rgba(255, 255, 255, 0.6);
  }

